@{
    ViewData["Title"] = "Головна сторінка";
}
<div class="text-center">
    <h2>Ласкаво просимо до системи «Розклад занять»</h2>
    <p>Тут ви можете переглянути актуальний розклад, знайти інформацію про студентів, викладачів і багато іншого.</p>
</div>