<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - UniversitySchedule.Web</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UniversitySchedule.Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Schedule" asp-action="Index">Розклад</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Information" asp-action="Students">Студенти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Information" asp-action="Teachers">Викладачі</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Help" asp-action="Index">Довідка</a>
                        </li>
                        <!-- Якщо користувач - адміністратор, можна додати Admin -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Admin" asp-action="AddCourse">Адмін-панель</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Вийти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - UniversitySchedule.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
